<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style/clipboard.css' %}">
        <link rel="stylesheet" href="{% static 'style/icono.min.css' %}">
    </head>

    <body>
        
        <!-- header -->
        <nav class="navbar" style="background-color: #01957d;">
            <div class="container-fluid justify-content-start">
                
                <a href="">
                    <button class="btn btn-outline-light me-2 btn-lg" type="button">
                        <span class="icono-home"></span>
                        Home
                    </button>
                </a>

                <a href="/shared">
                    <button type="button" class="btn btn-outline-warning me-2 btn-lg">
                        <span class="icono-book"></span>
                        Guid
                    </button>
                </a>
                            
                <form class="d-flex me-5" style="margin-top: 1%;">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button type="button" class="btn btn-outline-dark"><span class="icono-search"></span></button>
                </form>
                
                <div class="navbar-nav justify-content-end me-1">
                    {% if user.is_authenticated %}
                    <div class="d-flex">
                        <span class="me-3 icono-user" style="color: #444444;"></span>
                        <p style="margin-top: 6%; color: #444444;">Logged In As {{ user.username }}</p>
                    </div>
                    {% else %}
                    <div class="d-flex">
                        <span class="me-3 icono-user" style="color: #444444;"></span>
                        <a style="margin-top: 6%;" href="{% url 'login' %}">Click To Log In</a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </nav>

        <!-- clipboard -->
        <div style="border-left-color: {{ qcolor }};" class="board">
            <!-- the text -->
            <pre>{{text}}</pre>

            <!-- functional button -->
            <button type="button" class="btn btn-outline-danger">
                <span class="icono-trash"></span>
            </button>
            
            <button style="margin-left: 1%;" type="button" class="btn btn-outline-warning">
                <span class="icono-share"></span>
            </button>

            <button style="margin-left: 1%;" type="button" class="btn btn-outline-success">
                <span class="icono-document"></span>
            </button>
        </div>
        
    </body>
</html>