<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style/clipboard.css' %}">
        <link rel="stylesheet" href="{% static 'style/icono.min.css' %}">
    </head>

    <body>
        
        <!-- header -->
        <nav class="navbar" style="background-color: #01957d;">
            <div class="container-fluid justify-content-start">
                
                <a href="/">
                    <button class="btn btn-outline-light me-2 btn-lg" type="button">
                        <span class="icono-home"></span>
                        Home
                    </button>
                </a>

                <a href="/shared">
                    <button type="button" class="btn btn-outline-warning me-5 btn-lg">
                        <span class="icono-book"></span>
                        Guid
                    </button>
                </a>
                
                <div class="navbar-nav justify-content-end me-1">
                    {% if user.is_authenticated %}
                    <a href="/logout" class="d-flex btn">
                        <span class="me-3 icono-user" style="color: #444444;"></span>
                        <p style="margin-top: 6%; color: #444444;">Logged In As {{ user.username }}</p>
                    </a>
                    {% else %}
                    <div class="d-flex">
                        <span class="me-3 icono-user" style="color: #444444;"></span>
                        <a style="margin-top: 6%;" href="{% url 'login' %}">Click To Log In</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>


        <div style="margin: 2%;">
            <p style="font-size: 25px;">
                well if you liked this project all you need to do is give me a <b>star</b> on project github <a href="https://github.com/shabane/clipboard-manager">repo</a>. <br>
                i will own you a thank if you share the site with your friends.
            </p>

            <p style="font-size: 25px;">
                and if you think this project deserve it, a <i> <b> tip </b> </i> will make me happy<br>
                life is so hard in Iran (:
            </p>

            <hr>

            <p style="font-size: 25px; direction: rtl;">
                عالیه. اگر این پروژه رو دوست داشتید کافیه یک ستاره به
                <a href="https://github.com/shabane/clipboard-manager">مخزن</a>
                گیت‌هاب این پروژه بدید.
                <br>
                اگر که سایت رو به دوستانتون معرفی کنید، من به شما یک تشکر بدهکار خواهم بود.
            </p>

            <p style="font-size: 25px; direction: rtl;">
                اگر احساس می کنید که این پروژه ارزشش رو داره، حمایت مالی کمک خیلی بزرگیه.
            </p>
        </div>
    </body>

</html>