<html>
    <head>
        <link rel="icon" type="image/png" href="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-clipboard-miscellaneous-kiranshastry-lineal-color-kiranshastry.png">
        <title>Clipboard Manager</title>
        <meta name="description" content="this is a website where you can store code/text online and share to anybody on earth">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style/clipboard.css' %}">
        <link rel="stylesheet" href="{% static 'style/icono.min.css' %}">
    </head>

    

    <body>
        
        
        <!-- header -->
        <nav class="navbar" style="background-color: #01957d;">
            <div class="container-fluid justify-content-start">
                
                <a href="/support">
                    <button class="btn btn-outline-light me-2 btn-lg" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="32" height="32"
viewBox="0 0 48 48"
style=" fill:#000000;"><path fill="#f55376" d="M38.762,27.171L23.934,42L5.567,23.634c-4.002-4.002-4.002-10.491,0-14.493 c4.187-4.188,10.976-4.188,15.164,0L38.762,27.171"></path><path fill="#f55376" d="M34.715,5.994c-2.744,0-5.488,1.047-7.582,3.14l-3.204,3.204l14.829,14.829l3.539-3.539 c4.002-4.002,4.002-10.491,0-14.494C40.203,7.041,37.459,5.994,34.715,5.994"></path><polyline fill="#eb0000" points="23.929,12.339 9.102,27.166 23.931,41.994 38.758,27.167 23.929,12.339"></polyline></svg>
                    </button>
                </a>

                <a href="/guide">
                    <button type="button" class="btn btn-outline-warning me-2 btn-lg">
                        <span class="icono-book"></span>
                        راهنما
                    </button>
                </a>
                
                <a href="/add">
                    <button type="button" class="btn btn-outline-dark me-2 btn-lg">
                        <span class="icono-plus"></span>
                    </button>
                </a>

                <form class="d-flex me-5 col-12 col-xl-3" style="margin-top: 1%;" method="GET" action="/search">
                    <input class="form-control me-2" type="text" placeholder="جستوجو" name="text">
                    <button type="submit" class="btn btn-outline-dark"><span class="icono-search"></span></button>
                </form>
                
                <div class="navbar-nav justify-content-end me-1">
                    {% if user.is_authenticated %}
                    <a href="/logout" class="d-flex btn">
                        <span class="me-3 icono-user" style="color: #444444;"></span>
                        <p style="margin-top: 6%; color: #444444; direction: rtl;">شما به عنوان {{ user.username }} وارد شده اید</p>
                    </a>
                    {% else %}
                    <div class="d-flex">
                        <span class="me-3 icono-user" style="color: #444444;"></span>
                        <a style="margin-top: 6%; color: white;" href="{% url 'login' %}">برای ورود کلیک کنید</a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </nav>

        <!-- clipboard -->
        {% for texts in text %}
        <div style="border-left-color: {{ qcolor }};" class="board col-10">
            <form method="POST">
            {% csrf_token %}
            <!-- the text -->
            <p style="white-space: pre-wrap; word-wrap: break-word; text-align: justify; margin-right: 2%;">{{texts}}</p>
            
            <!-- functional button -->
            
            
                <a class="btn btn-outline-danger" href="/action/delete?id={{texts.id}}">
                    <span class="icono-trash"></span>
                </a>
            
            
            <a href="/action/share?id={{ texts.id }}" style="margin-left: 1%;" type="submit" class="btn btn-outline-warning">
                <span class="icono-share"></span>
            </a>
            <input readonly type="text" class="form-text" style="visibility: {% if texts.link|length > 0%} visabe; {% else %} hidden; {% endif %}" value="{{ request.get_host }}/{{ texts.link }}">
            
            </form>
        </div>
        {% endfor %}
        
            
        <hr>
    </body>
</html>